.walkthrough-hole-glow {
    position: absolute;
    outline: none;
    border: 3px solid #FFFFFF !important;
    box-shadow: 0 0 50px #FCFCFC !important;
    -webkit-appearance: none;
    box-sizing: border-box;
}

.walkthrough-background {
    position:absolute;
    top:0;
    bottom: 0;
    left:0;
    right:0;
    background-color: initial;
    text-align: center;
    -webkit-transition: height 0s ease-out .2s, opacity .2s ease-out;
    -moz-transition: height 0s ease-out .2s, opacity .2s ease-out;
    -o-transition: height 0s ease-out .2s, opacity .2s ease-out;
    transition: height 0s ease-out .2s, opacity .2s ease-out;
    opacity:0;
    height: 0;
    overflow: hidden;
    z-index: 1000;
}

.walkthrough-hole {
    position: absolute;
    -moz-box-shadow: 1 1 3 1997px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 1 1 3 1997px rgba(0, 0, 0, .8);
    box-shadow: 1 1 3 1997px rgba(0, 0, 0, .8);
    -webkit-appearance: none;
}

.walkthrough-element.walkthrough-text{
    margin-top: 10%;
    width: 50%;
    color: #fff;
    text-align: center;
}

.walkthrough-element{
    z-index: 1001;
    position:relative;
    margin-left: auto;
    margin-right: auto;
}

.walkthrough-background.walkthrough-active{
    -webkit-transition: opacity .2s ease-out;
    -moz-transition: opacity .2s ease-out;
    -o-transition: opacity .2s ease-out;
    transition: opacity .2s ease-out;

    opacity:1;
    height: 100%;
    pointer-events: all;
}

.walkthrough-transclude{
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
}

.walkthrough-hole-round{
    border-radius: 200px;
}

.walkthrough-container{
    float: left;
    position: relative;
    height: 100%;
    width: 100%;
}

.walkthrough-inner{
    position: fixed;
    z-index: 3;
    width: 100%;
}

.walkthrough-container-transparency > .walkthrough-inner{
    height: 100%;
}

.walkthrough-text-container{
    position: absolute;
    width: 100%;
}

.walkthrough-container-transparency .walkthrough-top {
    top: 15px;
}

/* take 'done' button into consideration */
.walkthrough-container-transparency .walkthrough-bottom {
    bottom: 70px;
}

